.nested {
  font-size: 50px;
  font-weight: 900;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
  color: #333;
  background-color: #eee;
  transition: 0.3s ease all;
}

.nested.dark {
  color: #eee;
  background-color: #333;
}
